version: '3.8'

services:
  mhss:
    build: .
    # image: miaona/mhss:latest  # 等镜像构建成功后再启用
    container_name: mhss-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - TMDB_API_KEY=${TMDB_API_KEY}
      - TG_API_ID=${TG_API_ID}
      - TG_API_HASH=${TG_API_HASH}
      - TG_PHONE_NUMBER=${TG_PHONE_NUMBER}
      - TG_GROUP_ID=${TG_GROUP_ID}
      - TG_SESSION=${TG_SESSION}
      - EMBY_URL=${EMBY_URL}
      - EMBY_API_KEY=${EMBY_API_KEY}
      - PORT=3000
    volumes:
      - ./requested-movies.json:/app/requested-movies.json
    env_file:
      - .env
