version: '3.8'

services:
  mhss:
    image: miaona/mhss:latest
    container_name: mhss-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - TMDB_API_KEY=你的TMDB_API_KEY
      - EMBY_URL=你的Emby服务器地址
      - EMBY_API_KEY=你的Emby_API_KEY
      - MEDIAHELPER_URL=你的MediaHelper服务器地址
      - MEDIAHELPER_USERNAME=你的MediaHelper用户名
      - MEDIAHELPER_PASSWORD=你的MediaHelper密码
      - PORT=3000
