name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - 'image/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60  # 增加超时时间到 60 分钟
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            miaona/mhss:latest
            miaona/mhss:${{ github.sha }}
          cache-from: type=registry,ref=miaona/mhss:latest
          cache-to: type=inline
          # 增加构建超时
          build-args: |
            BUILDKIT_STEP_LOG_MAX_SIZE=50000000
            BUILDKIT_STEP_LOG_MAX_SPEED=10000000
